.center-div
{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100px;
}
.inp-country{
    border: none;
    border-bottom: 1px solid black;
    font-size: 25px;
    padding-top: 10px;
}
.inp-country:focus{
   outline: none;
}

.txt-size{
    font-size: 25px;
}
address { 
    display: block;
    font-weight: 700;
  } 
  .center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .box-refer{
    background-color: black;
    color: white !important;
    width: 70%;
    height: 250px;
    margin-top: 20px;
  }
  .box-two-refer-style{
    color: white ;
  }
  .box-refer-style{
    color: white ;
  }
  .box-two-refer{
    background-color: black;
    color: white !important;
    width: 100%;
    height: 250px;
    margin-top: 20px;
  }